<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add dish</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap" rel="stylesheet">
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="/formstyle.css">
</head>
<body style="color: white; background-image: url('https://i.pinimg.com/736x/e0/e7/7d/e0e77d5a4eb63700b98fdc724a6a7c50.jpg');">
	<div class="row" style="padding: 100px">
		<h1 class="text-center">Add New Item</h1>
		<div class="col-lg-6 offset-3">
	<form action="/order-online" method="post" class="form-group">
		
		<div class="mb-3">
			<label>Category</label>
			<input type="text" name="category" class="form-control">
		</div>

		<div class="mb-3">
			<label>Dish</label>
			<input type="text" name="dish" class="form-control">
		</div>

		 <div class="mb-3">
			<label>Price</label>
			<input type="text" name="price" class="form-control">
		</div>
		<div class="mb-3">
			<label>Description</label>
			<input type="text" name="description" class="form-control">
		</div>

		<div class="mb-3">
			<label>image url</label>
			<input type="text" name="img" class="form-control">
		</div>
		<button type="submit" class="btn btn-light">Add dish</button>
	</form>
</div>
</div>
	<script src="https://kit.fontawesome.com/c8338092a9.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="/app.js"></script>
</body>
</html>